* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat {
    font: 15px Helvetica, Arial;
    text-align: left;
    margin: 20px;
}

.chat form {
    background: #fff;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
}

.chat form input {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    width: 85%;
    margin-right: .5%;
}

.chat form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    margin-left: 2%;
}

.chat li {
    padding: 5px 10px;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
}

.chat li:nth-child(odd) {
    background: #eee;
}