.App {
  height: 65px;
  min-height: 65px;
  max-height: 65px;
}
.App > .page-body {
  padding-top: 85px;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
[class*='megatron'] h6 {
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  [class*='megatron'] {
    min-height: 120px;
  }
  [class*='megatron'] h3 {
    font-size: 2rem;
  }
  [class*='megatron'] h6 {
    font-size: 1.2rem;
  }
}

#popover {
  display: none;
  position: absolute;
  top: 15vh;
  left: 50%;
  max-width: 55%;
  transform: translateX(-50%);
}
