.App {
  margin-top: 12vh;
  min-height: 88vh;
}

.App > .page-body {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

#popover {
  display: none;
  position: absolute;
  top: 15vh;
  left: 50%;
  max-width: 55%;
  transform: translateX(-50%);
}
