.App {
  min-height: 88vh;
  margin-top: 12vh;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
}

#popover {
  display: none;
  position: absolute;
  top: 15vh;
  left: 50%;
  max-width: 55%;
  transform: translateX(-50%);
}

/* light/dark themes */
/* @media (prefers-color-scheme: dark) {
  html {
    content: dark
  }
}

@media (prefers-color-scheme: light) {
  html {
    content: light
  }
} */
